<a>
  <div class="row row-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <a class="thumbnail">
            <img width="200" height="200" [src]="'data:image/jpeg;base64,' + doctor.photo"
                 alt="...">
          </a>
        </div>
        <a class="btn-link">
          <span class="doc-name">{{doctor.firstname}} {{doctor.lastname}} {{doctor.middlename}}</span>
        </a>

        <p> Specialization : {{doctor.specialisation}}</p>
        <hr>
        <p>Clinic name : {{doctor.clinicName}}</p>
        <button class="btn btn-facebook" style="margin-top: 10%;margin-left: 55%">
          Add Appointment
        </button>
      </div>
    </div>
  </div>
</a>
